<h1>Seja Bem-Vindo</h1>
<p><strong>Data:</strong> <%= l(Date.today) %></p>

<p>
	<%= link_to 'Português - BR', root_path(locale: 'pt-BR') %>
</p>

<p>
	<%= link_to 'Inglês', root_path(locale: 'en') %>
</p>

<p>O idioma usado nessa aplicação é: <%= t('actual_locale') %> </p> 
<p><%= I18n.t('hello')%></p>

<%= render "menu" %>

