<p style="color: green"><%= notice %></p>

<%= render @mining_type %>

<div>
  <%= link_to t('links.edit_mining_type'), edit_mining_type_path(@mining_type), class:"btn btn-primary" %> |
  <%= link_to t('links.back_mining_type'), mining_types_path, class:"btn btn-primary" %>

  <%= button_to t('links.destroy_mining_type'), @mining_type, method: :delete, class:"btn btn-danger" %>
</div>
